@import url(./vendor/fonts/font.css);

@import url(./classes/header.css);
@import url(./classes/running-line.css);
@import url(./classes/donate-theme.css);
@import url(./classes/schedule.css);
@import url(./classes/dream.css);
@import url(./classes/players.css);
@import url(./classes/footer.css);

:root {
  --color-text-main: #313131;
  --color-alm-black: #1f1f1f;
  --color-alm-red: #f54932;
  --color-bg-main: #e9ded4;
  --color-white: #fff;
  --color-sun: #fbce51;
  --color-border: #d0d0d0;
  --color-footnotes: #3057a2;
  --color-disabled: #d6d6d6;
  --color-disabled-second: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.not-visible {
  display: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.opacity-eight {
  opacity: 0.8;
}

.content {
  width: 1623.5px;
}

.main__content {
  margin: 80px 0 50px;
  padding: 0 72px;
  width: 1623.5px;
}

@media screen and (max-width: 1366px) {
  .content {
    width: 100%;
  }

  .main__content {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .main__content {
    margin: 48px 0 34px;
    padding: 0 19px;
  }
}
