.donate-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.donate-theme__slogan {
  max-width: 764px;
  text-transform: uppercase;
  color: var(--color-text-main);
  font: 700 36px/48px 'Merriweather';
}

.donate-theme__slogan_red {
  color: var(--color-alm-red);
}

.donate-theme__image {
  display: block;
  border-radius: 50%;
  width: 394px;
  object-fit: contain;
}

.donate-theme__image-int {
  display: none;
}

@media screen and (max-width: 1366px) {
  .donate-theme {
    margin-bottom: 34px;
  }

  .donate-theme__slogan {
    letter-spacing: -0.5px;
  }

  .donate-theme__slogan_red {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 375px) {
  .donate-theme__image-int {
    display: block;
    border-radius: 50%;
    width: 320px;
    margin: 24px 0;
    object-fit: contain;
  }

  .donate-theme__image {
    display: none;
  }

  .donate-theme__slogan {
    max-width: 100%;
    font: 400 28px/38px 'Merriweather';
  }
}
