.footer {
  width: 100vw;
  min-width: 1624px;
  padding: 40px 72px 72px;
  background-color: var(--color-bg-main);
}

.footer__text {
  color: var(--color-text-main);
  font: 400 16px/19px 'Golos Text';
}

@media screen and (max-width: 1366px) {
  .footer {
    width: 100%;
    min-width: 200px;
  }
}
