.carousel-counter {
  display: flex;
}

.carousel-counter__text {
  color: var(--color-text-main);
  font: 400 16px/19px 'Golos Text';
}

.carousel__btn {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: var(--color-text-main) url(../images/btn-right.svg) center no-repeat;
  cursor: pointer;
}

.carousel__btn:hover {
  background-color: var(--color-sun);
}

.carousel__btn:disabled {
  background-color: var(--color-disabled);
}

.carousel__btn-less {
  transform: rotate(180deg);
}

.carousel__wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel__players {
  display: flex;
  list-style: none;
  width: max-content;
  transition: all 1s ease-in-out;
}

.players-block__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.player {
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__image {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  -o-object-fit: contain;
  object-fit: contain;
}

.player__info {
  margin: 28px 0 20px;
}

.player__name {
  color: var(--color-text-main);
  font: 600 24px/29px 'Golos Text';
  margin-bottom: 12px;
  text-align: center;
}

.player__title {
  color: var(--color-text-main);
  font: 400 20px/24px 'Golos Text';
  text-align: center;
}

.player__btn {
  width: 113px;
  height: 35px;
  background-color: transparent;
  border: 1px solid var(--color-footnotes);
  border-radius: 62px;
  color: var(--color-footnotes);
  font: 500 16kpx/19px 'Golos Text';
}
